{% extends 'base.html.twig' %}

{% block title %}Preview - {{parent()}} {% endblock %}

{% block body %}
<div class="preview_banner">
    <img class="logo_banner" src="{{ asset('/pictures/AllDevLong.svg') }}" alt="All Dev Long About">
    <h1>Entreprise X</h1>
    <h2>Your baseline </h2>
    <button class= "btn" type="button">Contactez-nous</button>
</div>
<div class="video" style="display: flex"> 
<div class="">
    <h2>Vidéo</h2>
<img class="video_video" src="{{ asset('/pictures/video.png') }}" alt="All Dev Long About">
</div>
</div>
<div>
    <h2>Codes Promo </h2>
<div class="promo">
    <div class= "promo_card">
        <button class= "btn_promo" type="button">SUMMER22</button> -10% sur tout le shop monsite.com</div>
     <div class= "promo_card">
    <button class= "btn_promo" type="button">XMAS</button> Frais de port offerts tout le mois de décembre</div>    
</div>
<div>
    <h2>Pour en savoir plus </h2>
    
    <div class= "learn_more">
        <div class= "learn_more_card">
        <img class= "learn_more_img" src= "{{ asset('/pictures/service_1.png') }}" alt= "David Hackett Développeur"> 
            <br></br><button class="btn" type="button">La boutique</button>
        </div>
        <div class= "learn_more_card">
        <img class= "learn_more_img" src= "{{ asset('/pictures/service_2.png') }}" alt= "David Hackett Développeur">
            <br></br><button class="btn" type="button">Nos actualités</button>
        </div>
        <div class= "learn_more_card">
        <img class= "learn_more_img" src= "{{ asset('/pictures/service_3.png') }}" alt= "David Hackett Développeur"> 
            <br></br><button class="btn" type="button">Nous contacter</button>
        </div> 
    </div>
</div>
{% endblock %}