{% extends 'base.html.twig' %}

{% block title %}Dashboard Admin -
	{{parent()}}
{% endblock %}

{% block body %}
	<div class="body">
		<div class="dashboard_icon">
			<svg xmlns="http://www.w3.org/2000/svg" width="57.999" height="64.445" viewbox="0 0 57.999 64.445">
				<g id="Icon" transform="translate(0.999 3.709)">
					<rect id="Area" width="56" height="58" transform="translate(0 -0.487)" fill="#fcfcfc" opacity="0"/>
					<g id="Icon-2" data-name="Icon" transform="translate(4.387 10.321)">
						<path id="_7113967a-5113-40ac-be06-9ec85e414b32" data-name="7113967a-5113-40ac-be06-9ec85e414b32" d="M64.444,67.667V61.222A12.889,12.889,0,0,0,51.556,48.333H25.778A12.889,12.889,0,0,0,12.889,61.222v6.445" transform="translate(-15.053 -20.474)" fill="none" stroke="#61a8dd" stroke-linecap="round" stroke-linejoin="round" stroke-width="6.444"/>
						<circle id="_31ef616b-b983-4a31-b0d5-3810365302ec" data-name="31ef616b-b983-4a31-b0d5-3810365302ec" cx="12.889" cy="12.889" r="12.889" transform="translate(10.725 -10.808)" fill="none" stroke="#61a8dd" stroke-linecap="round" stroke-linejoin="round" stroke-width="6.444"/>
					</g>
				</g>
			</svg>
		</div>
		<div class="title_dashboard_admin">
			<h2>All Dev Long</h2>
			<h4>Tous les utilisateurs</h4>
		</div>
		<table>
			<thead>
				<tr>
					<th colspan="1">N°</th>
					<th colspan="1">Nom</th>
					<th colspan="1">Prénom</th>
					<th colspan="1">Email</th>
					<th colspan="1">Pseudo</th>
				</tr>
			</thead>
			<tbody>
				{% if users is defined %}
					{% for user in users %}
						<tr class="dashboard_admin_card">
							<td class="dashboard_user_line">
								{{ user.id }}
							</td>
							<td class="dashboard_user_line">
								{{ user.firstName }}
							</td>
							<td class="dashboard_user_line">
								{{ user.lastName }}
							</td>
							<td class="dashboard_user_line">
								{{ user.email }}
							</td>
							<td class="dashboard_user_line">
								{{ user.pseudo }}
							</td>
						</tr>
					{% endfor %}
				{% endif %}
			</tbody>
		</table>


	</div>
{% endblock %}
