{% extends 'base.html.twig' %}

{% block title %}Dashboard Admin -
	{{parent()}}
{% endblock %}

{% block body %}
	<div class="body">
		<div class="dashboard_icon">
			 <img src="{{ asset('pictures/dashboard_admin_icon.svg') }}" alt="Icône de dashboard, purement décoratif">
		</div>
		<div class="title_dashboard_admin">
			<h2>All Dev Long</h2>
			<h4>Tous les utilisateurs</h4>
		</div>
		<table>
			<thead>
				<tr>
					<th colspan="1">N°</th>
					<th colspan="1">Nom</th>
					<th colspan="1">Prénom</th>
					<th colspan="1">Email</th>
					<th colspan="1">Pseudo</th>
				</tr>
			</thead>
			<tbody>
				{% if users is defined %}
					{% for user in users %}
						<tr class="dashboard_admin_card">
							<td class="dashboard_user_line">
								{{ user.id }}
							</td>
							<td class="dashboard_user_line">
								{{ user.firstName }}
							</td>
							<td class="dashboard_user_line">
								{{ user.lastName }}
							</td>
							<td class="dashboard_user_line">
								{{ user.email }}
							</td>
							<td class="dashboard_user_line">
								{{ user.pseudo }}
							</td>
						</tr>
					{% endfor %}
				{% endif %}
			</tbody>
		</table>


	</div>
{% endblock %}
