{% extends 'base.html.twig' %}

{% block title %}Inscription - {{ parent() }}{% endblock %}

{% block body %}
<div class="signin_title">
    <h1>Inscription</h1> 
    <img src="{{ asset('pictures/register_icon.svg') }}" alt="icône d'inscription, purement décoratif">
 </div>
<div class="signin">    
        <div class="signin_form">
            {{ form_start(registrationForm, {'method': 'POST'}) }}
            <div class="form_group2">
            <img src="{{ asset('pictures/icon-avatar.svg') }}" alt="icône avatar, purement décoratif">
                {{ form_label(registrationForm.firstName, 'Prénom') }}
                {{ form_widget(registrationForm.firstName, {'attr': {'placeholder': 'Votre Prénom'}}) }}
            </div>
            <div class="form_group2">
            <img src="{{ asset('pictures/icon-avatar.svg') }}" alt="icône avatar, purement décoratif">
                {{ form_label(registrationForm.lastName, 'Nom') }}
                {{ form_widget(registrationForm.lastName, {'attr': {'placeholder': 'Votre nom'}}) }}
            </div>
            <div class="form_group2">
            <img src="{{ asset('pictures/icon-avatar.svg') }}" alt="icône avatar, purement décoratif">
                {{ form_label(registrationForm.pseudo, 'Pseudo') }}
                {{ form_widget(registrationForm.pseudo, {'attr': {'placeholder': 'votre pseudo'}}) }}
            </div>
            <div class="form_group2">
            <img src="{{ asset('pictures/icon-email.svg') }}" alt="icône d'un cadenas, purement décoratif">
                {{ form_label(registrationForm.email, 'Adresse mail') }}
                {{ form_widget(registrationForm.email, {'attr': {'placeholder': 'contact@contact.fr'}}) }}
            </div>
            <div class="form_group2">
            <img src="{{ asset('pictures/icon-password.svg') }}" alt="icône d'un cadenas, purement décoratif">
                {{ form_label(registrationForm.password.first, 'Mot de passe') }}
                {{ form_widget(registrationForm.password.first, {'attr': {'placeholder': '********'}}) }}
            </div>
            <div class="form_group2">
            <img src="{{ asset('pictures/icon-password.svg') }}" alt="icône d'un cadenas, purement décoratif">
                {{ form_label(registrationForm.password.second, 'Confirmer') }}
                {{ form_widget(registrationForm.password.second, {'attr': {'placeholder': '********'}}) }}
            </div>
            <div class="form_group3 cgu">
                {{ form_widget(registrationForm.agreeTerms) }}
                <label>J'accepte les <a href="{{ path('mentions-legales') }}">conditions d'utilisations</a></label>
            </div>
            <div class="form_group2">
                {{ form_row(registrationForm.submit, { 'label': 'S\'inscrire' }) }}
            </div>
            {{ form_end(registrationForm) }}
            <div class="switch_form">
                <p>Déjà un compte ? <a href="{{ path('login') }}">Se connecter</a></p>
            </div>
        </div>
    <div class="signin_icon">
        <img src="{{ asset('pictures/signin_icon.svg') }}" alt="Icône de register, purement décoratif">
    </div>
</div>
{% endblock %}