
{% extends 'base.html.twig' %}

{% block title %}Contact- {{ parent() }}{% endblock %}

{% block body %}
<main>
<header>
    <div class="titre">  
        <h1>  </h1>
            <div class="image1">
            <div style="text-align: center" >
            <a href="{{ path('home') }}" class=""><img style="width:100%;height:'100%;" src="{{ asset('/pictures/AllDevLong2.svg') }}" alt="logo all dev long"></a>
                
            </div>       
    </div>
 
</header>
 
<h1>Nous Contacter</h1>
{{ form_start(form) }}
<div class="col-md-5">
<div class="p-4 mb-3 bg-white">
<p class="mb-4 font-weight-bold"><img class="col-3" src="/pictures/adresse.ico" alt="Adresse">123 Mockup St,New York</p>
<p class="mb-0 font-weight-bold"></p>
<p class="mb-4"><a href="#"><img class="col-3" src="/pictures/telephone.ico" alt="Telephone">(+1)123 456 78 90</a></p>
<p class="mb-0 font-weight-bold"></p>
<p class="mb-4"><a href="#"><img class="col-3" src="/pictures/fixe.ico" alt="Fixe">(+1)123 456 78 91</a></p>
</div>




<div class="container">

</div><!--/container -->
</main>
{{ form_end(form) }}
{% endblock %}

