<header class="">
    <div class="navbar">
        <a href="{{ path('home') }}" class=""><img style="width:50px;height:50px;" src="{{ asset('/pictures/AllDevLong.svg') }}" alt="logo all dev long"></a>
        <nav class="menu">
             <ul class="nav-links">
                <li>
                    <a href="{{ path('home') }}" class="">Accueil</a>
                </li>
                <li>
                    <a href="{{ path('preview') }}" class="">Landing Page</a>
                </li>
                <li>
                    <a href="{{ path('contact') }}" class="">Contact</a>
                </li>
                <li class="connexion_btn">
                    <a href="{{ path('login') }}" class="">Connexion</a>
                </li>
            </ul>
        </nav>
    </div>
</header>