<header class="">
    <div class="">
        <a href="{{ path('home') }}" class=""><img style="width:20px;height:20px;" src="{{ asset('/pictures/AllDevLong.svg') }}" alt="logo all dev long"></a>
        <nav class="">
            <ul>
                <li>
                    <a href="{{ path('home') }}" class="">Accueil</a>
                </li>
                <li>
                    <a href="{{ path('preview') }}" class="">Landing Page</a>
                </li>
                <li>
                    <a href="{{ path('contact') }}" class="">Contact</a>
                </li>
                <li>
                    <a href="{{ path('login') }}" class="">Connexion</a>
                </li>
            </ul>
        </nav>
    </div>
</header>