<header class="">
    <div class="navbar">
        <a href="{{ path('home') }}" class=""><img style="width:50px;height:50px;" src="{{ asset('/pictures/AllDevLong.svg') }}" alt="logo all dev long"></a>
        <nav class="menu">
             <ul class="nav_links">
                <li>
                    <a href="{{ path('home') }}" class="nav_link">Accueil</a>
                </li>
                <li>
                    <a href="{{ path('preview') }}" class="nav_link">Landing Page</a>
                </li>
                <li>
                    <a href="{{ path('contact') }}" class="nav_link">Contact</a>
                </li>
                <li class="connexion_btn">
                    <a href="{{ path('login') }}" class="nav_link">Connexion</a>
                </li>
            </ul>
            <div class="hamburger">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
        </nav>
    </div>
</header>