{% extends 'base.html.twig' %}

{% block title %}Dashboard Utilisateur - {{ parent() }} {% endblock %}

{% block body %}
    <section class="dashboard_user_container">
        <div class="dashboard_user_title">
            <img src="{{ asset('pictures/dashboard_user_icon.svg') }}" alt="Icône de connexion, purement décoratif">
            <h1>Bonjour, {{ user.pseudo }}</h1>
        </div>
        <section class="section_information_global_form dashboard_user_form" id="information_account">
            <h2>Vos informations</h2>
            {{ form_start(sectionAccountForm) }}
            <div class="section_information_form">
                {{ form_row(sectionAccountForm.firstName) }}
                {{ form_row(sectionAccountForm.lastName) }}
                {{ form_row(sectionAccountForm.email) }}
            </div>
            <div class="section_information_form">
                {{ form_row(sectionAccountForm.pseudo) }}
                {{ form_row(sectionAccountForm.password) }}
                {{ form_row(sectionAccountForm.globalFontName) }}
            </div>
            <div class="section_information_form">
                {{ form_row(sectionAccountForm.save) }}
            </div>
            {{ form_end(sectionAccountForm) }}
        </section>
        <section class="section_brand_global_form dashboard_user_form" id="section_brand">
            <h2>Partie 1 : Marque</h2>
            {{ form_start(sectionBrandForm) }}
            <div class="section_brand_form">
                {{ form_row(sectionBrandForm.logoFile) }}
            <!-- Mettre l'image en petite après l'import -->
                {{ form_row(sectionBrandForm.brandName) }}
                {{ form_row(sectionBrandForm.baseline) }}
            </div>
            <div class="section_brand_form">
                {{ form_row(sectionBrandForm.brandBackground) }}
                {{ form_row(sectionBrandForm.brandNameColor) }}
                {{ form_row(sectionBrandForm.brandBaselineColor) }}
            </div>
            <div class="section_brand_form">
                {{ form_row(sectionBrandForm.enabled) }}
                {{ form_row(sectionBrandForm.save) }}
            </div>
            {{ form_end(sectionBrandForm) }}
        </section>
        <section class="section_video_global_form dashboard_user_form" id="section_video">
            <h2>Partie 2 : Vidéo</h2>
            {{ form_start(sectionVideoForm) }}
            <div class="section_video_form">
                {{ form_row(sectionVideoForm.link) }}
            </div>
            <div class="section_video_form">
                {{ form_row(sectionVideoForm.sectionVideoBackground) }}
            </div>
            <div class="section_video_form">
                {{ form_row(sectionVideoForm.enabled) }}
                {{ form_row(sectionVideoForm.save) }}
            </div>
            {{ form_end(sectionVideoForm) }}
        </section>
        <section class="section_promotion_global_form dashboard_user_form" id="section_promotion">
            <h2>Partie 3 : Codes Promotions</h2>
            {{ form_start(sectionPromotionForm) }}
            <div class="section_promotion_form">
                {{ form_row(sectionPromotionForm.sectionPromotionBackground) }}
                {{ form_row(sectionPromotionForm.sectionPromotionCardBackground) }}
                {{ form_row(sectionPromotionForm.sectionPromotionButtonBackground) }}
            </div>
            <div class="section_promotion_form">
                {{ form_row(sectionPromotionForm.sectionPromotionCodeColor) }}
                {{ form_row(sectionPromotionForm.sectionPromotionDescriptionColor) }}
            </div>
            <div class="section_promotion_form">
                {{ form_row(sectionPromotionForm.enabled) }}
                {{ form_row(sectionPromotionForm.save) }}
            </div>
            {{ form_end(sectionPromotionForm) }}
            {{ form_start(promotionForm) }}
            <div class="section_promotion_form">
                {{ form_row(promotionForm.code) }}
            </div>
            <div class="section_promotion_form">
                {{ form_row(promotionForm.description) }}
            </div>
            <div class="section_promotion_form">
                {{ form_row(promotionForm.submit) }}
            </div>
            {{ form_end(promotionForm) }}
            <table>
                <thead>
                    <tr>
                        <th>Code promo</th>
                        <th>Description</th>
                        <th>Supprimer</th>
                    </tr>
                </thead>
                <tbody>
                    {% for promotion in promotions %}
                        <tr>
                            <td>{{promotion.code}}</td>
                            <td>{{promotion.description}}</td>
                            <td>
                                <a href="{{ path('deletePromotion', {id: promotion.id}) }}">Supprimer</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>
        <section class="section_external_site_global_form dashboard_user_form" id="section_external_site">
            <h2>Partie 4 : Liens Externes</h2>
            {{ form_start(sectionExternalSiteForm) }}
            <div class="section_external_site_form">
                {{ form_row(sectionExternalSiteForm.externalSiteBackground) }}
                {{ form_row(sectionExternalSiteForm.buttonBackground) }}
                {{ form_row(sectionExternalSiteForm.externalSiteLinkColor) }}
            </div>
            <div class="section_external_site_form">
                {{ form_row(sectionExternalSiteForm.enabled) }}
                {{ form_row(sectionExternalSiteForm.save) }}
            </div>
            {{ form_end(sectionExternalSiteForm) }}
            {{ form_start(externalSiteForm) }}
            <div class="section_external_site_form">
                {{ form_row(externalSiteForm.name) }}
                {{ form_row(externalSiteForm.link) }}
            </div>
            <div class="section_external_site_form">
                {{ form_row(externalSiteForm.submit) }}
            </div>
            {{ form_end(externalSiteForm) }}
            <table>
                <thead>
                    <tr>
                        <th>Nom du lien</th>
                        <th>Lien</th>
                        <th>Supprimer</th>
                    </tr>
                </thead>
                <tbody>
                    {% for externalSite in externalSites %}
                        <tr>
                            <td>{{externalSite.name}}</td>
                            <td>{{externalSite.link}}</td>
                            <td>
                                <a href="{{ path('deleteExternalSite', {id: externalSite.id}) }}">Supprimer</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>
        <section class="section_social_network_global_form dashboard_user_form" id="section_social_network">
            <h2>Partie 5 : Réseaux Sociaux</h2>
            {{ form_start(sectionSocialNetworkForm) }}
            <div class="section_social_network_form">
                {{ form_row(sectionSocialNetworkForm.sectionSocialNetworkBackground) }}
                {{ form_row(sectionSocialNetworkForm.socialNetworkIconColor) }}
            </div>
            <div class="section_social_network_form">
                {{ form_row(sectionSocialNetworkForm.enabled) }}
                {{ form_row(sectionSocialNetworkForm.save) }}
            </div>
            {{ form_end(sectionSocialNetworkForm) }}
            {{ form_start(socialNetworkForm) }}
            <div class="section_social_network_form">
                {{ form_row(socialNetworkForm.facebook) }}
                {{ form_row(socialNetworkForm.instagram) }}
                {{ form_row(socialNetworkForm.twitter) }}
            </div>
            <div class="section_social_network_form">
                {{ form_row(socialNetworkForm.linkedin) }}
                {{ form_row(socialNetworkForm.tiktok) }}
                {{ form_row(socialNetworkForm.youtube) }}
            </div>
            <div class="section_social_network_form">
                {{ form_row(socialNetworkForm.save) }}
            </div>
            {{ form_end(socialNetworkForm) }}
        </section>
        <a class="button_landing_page" href="{{ path('landing_page', {pseudo: user.pseudo}) }}">Voir mon site</a>
    </section>
{% endblock %}
